#chartdiv1,#chartdiv2 {
    width		: 100%;
    height		: 350px;
    font-size	: 11px;
}
table a{
    color :#428bca;
}
label.error{
    color: #f34541 !important;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.modal-dialog.modal-lg{
    width: 900px;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
    z-index: 100000 !important;
}